{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
      "mocha": true
  },
  "rules": {
    "semi": [2, "never"],
    "react/prop-types": 0,
    "comma-dangle": 0,
    "react/jsx-indent-props": 0,
    "no-console": 0,
    "max-len": 0,
    "no-case-declarations": 0,
    "react/jsx-closing-bracket-location": 0
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "webpackIsomorphicTools": 1
  }
}
