@import "~react-toolbox/components/commons.scss";

.app {
  display: flex;
  flex-flow: column nowrap;
  background-color: #f5f5f5;
}

.main {
  margin: $unit;
  margin-top: 6.8 * $unit;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}